

<div class="home views">
    <div class="container">
    	<div>
    		<br />
        
            
             <div class="container"> 
                 
                
    		
    			<div class="posts" data-ng-repeat="post in posts track by post._id" id="postsDecorator">
    

                    <p id="postsHeadings">{{post.JobName}}</p>
                    
                    
                    <p id="jobpostelement">Date</p>
                    <p id="jobpostcontent">{{post.PostDate}}</p>
                    
                    <p id="jobpostelement">Location</p>
                    <p id="jobpostcontent">{{post.JobLocation}}</p>
                    
                    
                    <p id="jobpostelement">Description</p>
                    <p id="jobpostcontent">{{post.JobDescription}}</p>
                    
                    
                    <p id="jobpostelement">Requirements</p>
                    <p id="jobpostcontent">{{post.SkillSet}}</p>
                                 
                    <p id="jobpostelement">Applications accepted untill</p>
                    <p id="jobpostcontent">{{post.ExpiryDate}}</p>
                    

                </div>
                
                 
            </div>
                    
                </div>
    		</div>
    	</div>
    </div>
</div>
