<div class="home views">
    <div class="container">
    	 
         
        <div class="container" id="postsDecorator">
                <p id="postsHeadings">Posts</p>
                <br />
                <div>
                    <div class="panel" data-ng-repeat="user in users track by user.UserId" id="postscontent">
                        <p id="poststext">{{user.FirstName + ' ' + user.LastName}}</p>
                        <p id="poststext">{{user.Posts}}</p>
                        
                    </div>

                </div>
           
        </div>
    
             <div class="container" style="margin-top:1%"></div>

        <div class="container" id="postsDecorator">
            <p id="postsHeadings">Users following</p>
            
                <div data-ng-repeat="user in users track by user.UserId" >
                    <a href="#/profile/{{user.UserId}}"><span id="buttonlinks" class="label label-info tags">{{user.FirstName + ' ' + user.LastName}}</span>
                    </a>
                    
                    
                </div>
            </div>
        
            <div class="container" style="margin-top:1%"></div>

        
         <div class="container" id="postsDecorator">
            <p id="postsHeadings">Companies following</p>
            
                <div data-ng-repeat="company in companies track by company.CompanyId" >
                    <a href="#/profile/{{company.CompanyId}}"><span id="buttonlinks" class="label label-info tags">{{company.CompanyName}}</span></a>
                </div>
        </div>
        
            <div class="container" style="margin-top:1%"></div>

        
        <div class="container" id="postsDecorator">
            <p id="postsHeadings">Jobs</p>
    		
    		<div>
    			<div class="postsContainer" data-ng-repeat="post in jobposts track by post._id" id="postscontent">
    			{{post.CompanyName}}
    			<br />
    			{{post.JobName}}
    			<br />
    			{{post.JobDescription}}
    			</div>
    		</div>
    	</div>
            <div class="container" style="margin-top:1%"></div>

    </div>
</div><!-- views/home.ejs -->
