<div class="home views">
    <div class="container">
    	 <div class="row">
            <div class="col-md-8">
         
                
                
        <div class="container" id="postsDecorator">
             <div class="row">
                <div class="col-md-8">
                    <textarea placeholder="Whats up?" id="statusbox" ng-model="status" maxlength="150"></textarea>
                </div>
                 <div class="col-md-4">
                    <input type="button" ng-click="updateMyStatus()" class="btn btn-lg btn-info" value="Post"></button>
                 </div>
            </div>
        </div>        
                
         <div class="container" style="margin-top:3%"></div>       
                
                
      <!-- <div class="container" id="postsDecorator">
                <p id="postsHeadings">Posts</p>
                <br />
              
                <div>
                    <div class="panel" data-ng-repeat="user in users track by user.UserId" id="postscontent">
                        <p id="poststext">{{user.FirstName + ' ' + user.LastName}}</p>
                        <p id="poststext">{{user.Posts}}</p>
                        <br />
                            
                    </div>
                </div>
               
         
           
        </div>-->
             
              <div class="container" id="postsDecorator">
                <p id="postsHeadings">Posts</p>
                <br />
              
                <div>
                    <div class="panel" data-ng-repeat="user in users track by user.UserId" id="postscontent">
                        <p id="poststext">{{user.FirstName + ' ' + user.LastName}}</p>
                        
                        <div ng-repeat="post in user.posts track by $index">
                            <span id="poststext">{{post.status}}</span>
                        </div>
                        
                        <br />
                            
                    </div>
                </div>
            </div>
    
             <div class="container" style="margin-top:1%"></div>

        <div class="container" id="postsDecorator">
            <p id="postsHeadings">Users following</p>
            
                <div data-ng-repeat="user in users track by user.UserId" >
                    <a href="#/profile/{{user.UserId}}"><span id="buttonlinks" class="label label-info tags">{{user.FirstName + ' ' + user.LastName}}</span>
                    </a>
                    
                    
                </div>
            </div>
        
            <div class="container" style="margin-top:1%"></div>

        
         <div class="container" id="postsDecorator">
            <p id="postsHeadings">Companies following</p>
            
                <div data-ng-repeat="company in companies track by company.CompanyId" >
                    <a href="#/profile/{{company.CompanyId}}"><span id="buttonlinks" class="label label-info tags">{{company.CompanyName}}</span></a>
                </div>
        </div>
        
            <div class="container" style="margin-top:1%"></div>

        
        <div class="container" id="postsDecorator">
            <p id="postsHeadings">Jobs</p>
    		
    		<div>
    			<div data-ng-repeat="post in jobposts track by post._id" id="postscontent">
    			{{post.CompanyName}}
    			<br />
    			{{post.JobName}}
    			<br />
    			{{post.JobDescription}}
    			</div>
    		</div>
    	</div>
            
        <div class="container" style="margin-top:1%"></div>
       </div><!--column1-->
             
            <div class="col-md-4">
                <div id="recoDecorator" class="container">
                    <p id="postsHeadings">Your recommendations</p>
                    <div data-ng-repeat="user in userRecommendations track by user.Email">
                 <span id="buttonlinks" class="label label-info tags">{{user.FirstName}}</span>
                    
                </div>
            </div>
              
            <div class="container" style="margin-top:5%"></div>

                 <div id="recoDecorator" class="container">
                     <p id="postsHeadings">Something worth looking into!</p>
                     <div data-ng-repeat="jobpost in jobpost track by user._id">
                     <span id="buttonlinks" class="label label-info tags">{{jobpost.JobTitle}}</span>
                     

                    </div>
                
            </div><!--Col-->            
        </div><!--row-->
    </div><!--container-->
</div><!-- views/home.ejs -->
