<div class="search views">
	<div class = "container">
		<div>
			<header>
				<h4>Job Results</h4>
			</header>
			<br />
			<div>
				Jobs for {{key}}
				<div class="JobPosts" data-ng-repeat="post in posts track by post._id">
					<div>Company : {{post.CompanyName}}</div>
					<br />Job Name : {{post.JobName}}
					<br />Job Requirements : {{post.SkillSet}}
					<br />Job Location : {{post.JobLocation}}
				</div>
			<div>
		<div>
	<div>		
<div>			
					