
 <div>

  <div>
    Results:
      <div ng-repeat="user in results">
         {{user.FirstName+' ' +user.LastName}}
        	<div ng-model="email"> {{user.Email}}</div>
         <button ng-click="follow(user.UserId)">Follow</button>
      </div>
    
  </div>

</div>