
 
<div>
    <div class="container">
        <div class="row" id="postsDecorator">
            <p id="postsHeadings">Users</p>
            <div ng-repeat="user in results" id="searchResults" class="col-md-3">
                <div>
       
          {{user.FirstName+' ' +user.LastName}}
        	
                    <div ng-model="email"> {{user.Email}}</div>
                    <button ng-click="follow(user.UserId)">Follow</button>
                </div>
            </div>
            <!--column-->
        </div>
        <!--row-->
        <div class="row" id="postsDecorator">
            <p id="postsHeadings">Companies</p>
            <div class="col-md-3" id="searchResults" ng-repeat="company in companies">
                <div>
         {{company.CompanyName}}
        	
                    <div ng-model="companyname">{{company.Overview}}</div>
                    <button ng-click="followCompany(company._id)">Follow</button>
                </div>
            </div>
        </div>
        <!--row-->
        <div class="row" id="postsDecorator">
            <p id="postsHeadings">Jobs</p>
            <div class="col-md-3" id="searchResults" ng-repeat="company in companies">
                <div>
                  {{job.JobDescription}}
                  
                    <button ng-click="apply(job._id)">Apply</button>
                </div>
            </div>
        </div>
    </div>
    <!--row-->
</div>