body { padding-top: 70px; }

#main{
    background-color: #DEDEDE;
}

#searchbar{
    margin-left: 25%;
}

#content{
    border: 1px #92CCF0 solid;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 6px #ccc;
    width: 60%;
    background-color: #FFFFFF;
    float: left;
}


#postsHeadings{
    font-size: 28px; 
    font-weight: 500; 
    font-family:inherit; 
    color: rgb(208, 208, 215);
}

#postsDecorator{
    border: 1px #92CCF0 solid;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 6px #ccc;
    width: 60%;
    background-color: #FFFFFF;
    margin-left: 0.5em;
}

#postscontent{

    margin-left: -1%;
    background-color: whitesmoke;
    margin-top: -2%;
    
}

#poststext{
  
  margin-left: 10px;
  font-size: large;
  font-family: -webkit-body;
  font-weight: 700;
}


#jobpostelement
{
    font-weight: 700;
    font-size: small;
    margin-bottom: 1em;

}


#jobpostcontent
{
     display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    
        margin-left: -1%;
    background-color: whitesmoke;
    margin-top: -2%;


}


#buttonlinks{
    font-size:15px; 
    float:left; 
    margin-right: 2px; 
    margin-top: 2px; 
}



#colcontent
{
    border: 1px #92CCF0 solid;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 6px #ccc;
    width: 60%;
    background-color: #FFFFFF;
    float: left;
    margin-left: -3.2%

}

#innercontent{
    margin-left: 2%;
}

#parallelcontainer{
    width : 30%;
    float: left;
    margin-left: 2%;
     border: 1px #92CCF0 solid;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 6px #ccc;
    background-color: #FFFFFF;

}

#wrapper{
 
    margin-left: 15%;

}


#panel{
    width: 123%;
}

#seperator{
    margin-top: 2%;
    margin-bottom: 2%;
}

#brandimg{
    float: left;
    margin-left: -10px;
}